body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 28px;
}

.container {
  text-align: center;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.gameStation {
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gameStation h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
}

.gameStation p {
  font-size: 18px;
  margin: 10px 0;
}

.gameStation button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gameStation button:hover {
  background-color: #555;
}
.poolStation {
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poolStation h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.poolStation p {
  font-size: 18px;
  margin: 10px 0;
}

.poolStation button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.poolStation button:hover {
  background-color: #555;
}
